<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GraphQL" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Sitecore.JavaScriptServices.GraphQL" version="14.0.0" targetFramework="net472" />
  <package id="Sitecore.Kernel" version="9.3.0" targetFramework="net472" />
  <package id="Sitecore.Services.Core" version="9.3.0" targetFramework="net472" />
  <package id="Sitecore.Services.GraphQL" version="3.0.0" targetFramework="net472" />
  <package id="Sitecore.Services.GraphQL.ContentSchema" version="3.0.0" targetFramework="net472" />
  <package id="Sitecore.Services.Infrastructure" version="9.3.0" targetFramework="net472" />
  <package id="Sitecore.Services.Infrastructure.Sitecore" version="9.3.0" targetFramework="net472" />
</packages>